.container {
  width: 800px;
  padding: 20px;
}

.usual_text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-input {
  padding: 10px;
  width: 100%;
  border: 3px solid #ff8c00;
}

.label {
  @extend .usual_text;
  display: inline;
}
.value {
  @extend .usual_text;
  padding-top: 10px;
}

.country {
  &-details {
    display: flex;
  }
  &-description {
    width: 300px;
  }
  &-flag > img {
    width: 300px;
    margin-left: 100px;
  }
  &-title {
    font-size: 44px;
    text-align: center;
  }
}
.label-value-row {
  margin-bottom: 10px;
  margin-top: 30px;
}

// body {
//   background-color: white;
//   text-align: left;
// }

// h2 {
//   font-size: 44px;
//   line-height: 1.364;
//   letter-spacing: 0.06em;
//   margin-left: 230px;
//   margin-bottom: 50px;
// }

// h3 {
//   font-size: 35px;
//   margin-left: 15px;
// }

// img {
//   margin-left: 45px;
// }

// span {
//   font-size: 28px;
// }

// li {
//     font-size: 26px;
//     margin-left: 40px;
//     margin-top: 25px;
//     list-style-position: inside;
//   }

//   ul {
//     text-align: left;
//     padding: 0px;
//   }

//   section {
//       display: flex;
//     //   text-align: center;
//   }
