<div class="container">
    <input class="search-input" id="country-name" type="text"></input>
    <section id="result"> -->
  {{!-- case one country is found --}}
 <h2 class="country-title">{{name}}</h2>
      <section class="country-details">
        <section class="country-description">
          <section class="country-description-fields">
            <section>
              <h3 class="label">Capital:</h3>
              <span class="value">{{capital}}</span>
            </section>
            <section>
              <h3 class="label">Population:</h3>
              <span class="value">{{population}}</span>
            </section>
            <section>
              <h3 class="label">Languages:</h3>
              <ul>
                {{#each Languages}}
                <li class="value">{{this.name}}</li>
                {{/each}}
              </ul>
            </section>
          </section>
        </section>
        <section class="country-flag">
          <img src="https://restcountries.eu/data/che.svg">
        </section>
</section>
</section>
  </div>